{
    "openapi": "3.0.0",
    "info": {
        "title": "API overview for simple task management",
        "version": "2.0.0",
        "contact": {
            "name": "JN"
        }
    },
    "servers": [
        {
            "url": "https://todo.ddev.site/api"
        }
    ],
    "paths": {
        "/api/projects":{
            "get": {
                "description": "List all projects",
                "operationId": "listProjects",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Project Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Project"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Task": {
                "allOf": [
                    {

                    }
                ]
            },
            "NewTask": {
                "type": "object",
                "required": [
                    "title",
                    "description",
                    "status"
                ],
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": ["to_do", "in_progress", "done"]
                    }
                }
            },
            "Project": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/NewProject"
                    },
                    {
                        "type": "object",
                        "required": [
                            "id"
                        ],
                        "properties": {
                            "id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "created_at": {
                                "type": "string",
                                "format": "DateTime",
                                "pattern": "YYYY-MM-DD"
                            }
                        }
                    }
                ]

            },
            "NewProject": {
                "type": "object",
                "required": [
                    "title",
                    "status"
                ],
                "properties": {
                    "title": {
                        "type": "string"
                    }
                }
            }
        }
    }
}
